@use'header/header';
@use'header/navegacion';
$color : green;
body{
    background-color: aquamarine;
}
h1{
    color: $color;
}
h2{
    color: greenyellow;
}
div.low{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}
.container:has(h1,h2) {
    background: green;
 }